.presentation-window {
	border: none;
}

.slide ul {
	text-align: left;
	margin: 10px;
}

.slide-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.slide .x-panel-body {
	padding: 10px;
}

.slide-title .x-panel-body {
	margin-top: 12px;
	font-size: 50px;
	line-height: 70px;
	text-align: center;
}

.slide-description .x-panel-body {
	font-size: 36px;
	line-height: 50px;
	text-align: center;
}
